.shadow-text{
     /* text-shadow: 0 0 20px red;  */
     /* text-shadow: 0 0 50px rgba(100, 100, 100, 1) */
     /* text-shadow: 
     1px 0px 1px #ccc, 0px 1px 1px #eee, 
     2px 1px 1px #ccc, 1px 2px 1px #eee,
     3px 2px 1px #ccc, 2px 3px 1px #eee,
     4px 3px 1px #ccc, 3px 4px 1px #eee,
     5px 4px 1px #ccc, 4px 5px 1px #eee,
     6px 5px 1px #ccc, 5px 6px 1px #eee,
     7px 6px 1px #ccc; */
     /* text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5; */

    text-shadow:rgb(239, 242, 239) -1px -7px 0px, rgb(66, 175, 172) 1px -1px 0px, rgb(198, 194, 63) -1px -1px 0px;
    
  /* letter-spacing:0.1em; */

}


.direction{
  direction:rtl;
}
.react-tabs__tab {
  border: 1px solid silver;
  margin: 0 0.5em;
}
.react-tabs__tab-list {
  border-bottom: none;
}
.react-tabs__tab--selected {
  background-color: #08188f;
  color: white ;
}